  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-lgiht ">
      <div class="container-fluid">
        <img src="img/tanah datar.png" alt="Kecamatan Lintau Buo" width="75" height="75" style="margin-left: 10px; margin-right: 10px;"   class="d-inline-block align-text-top">
          <h1 style="color: rgb(255, 255, 255); margin-right: 400px; font-size: 20px;">Kecamatan Lintau Buo<br>Kabupaten Tanah Datar</h1>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>              
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/berita">Berita</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Pemerintahan
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/struktur">Struktur Kecamatan</a></li>
                
              </ul>

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/layanan">Layanan</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/nagari">Nagari</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/wisata">Wisata</a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/about">Contact Us</a>
              </li>
            
            </ul>
          </div>
        </div>
      </nav>